*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; /* Tira as bolinhas dos itens da lista*/
}

body{
    background-color: #000000;
    color: #ffffff;
    font-style: 16px;
    overflow: hidden; /* Tira a barra de rolagem*/
}

header {     
    width: 100vw;    
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    z-index: 2; /* Trás o header para frente da section pois ela é relative*/
   

    & h1 {
        margin-left: 150px;
        margin-right: 100px;
        font-size: 60px;
        color: #cd0000;
    }
    
    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 150px);            
        }
    }

    & a {
        color: #ffffff;
        font-size: 25px;
        text-decoration: none;

        &:hover {
            color: #beff1b;
        }
    }
}

section {
    background-image: radial-gradient(#470964, #791fd3);
    height: 100vh;
    position: relative;

    & .list {
        width: 70vw;
        height: 100%;
        margin: auto; /* Centraliza a div list */
        position: relative;

        & .item {
            position: absolute; /* Posicionar a imagem onde desejarmos na tela */
            inset: 0; /* É o mesmo que setar o top, botton, left e right todos com esse valor */

            & .car-img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;

                & img {
                    width: 80%;
                    transform: rotate(-20deg); /* Rotação do carro */
                }
            }
        }

        & .content {
            position: absolute;
            right: 100px;
            width: 70%;
            height: 100%;
            margin-top: 35px;
            display: flex;
            flex-direction: column;
            justify-content: center; /* Joga toda a div content para o centro*/
            align-items: end; /* Alinha todos os itens dentro da div a direita*/
            gap: 20px;            

            & .car-information {
                font-size: 25px;
                font-weight: bold;
            }

            & h2 {
                font-size: 120px;
                line-height: 100px ;
                margin-bottom: 40px;
            }

            & .description {
                color: #d9d9d9;
                font-size: 25px;
                text-align: right;
                max-width: 700px;
            }

            & .information {
                border-radius: 30px;
                height: 55px;
                width: 180px;
                text-transform: uppercase; /* Transforma todo o texto em maiusculo*/
                border: 2px solid #791fd3;
                background-color: #beff1b;
                color: #000000;
                cursor: pointer;
                font-weight: bold;
                font-size: 16px;
            }
        }

        /* Linha entre as duas setas*/
        &::before {
            content: '';
            position: absolute;
            height: 200px;
            width: 100%;
            top: 50%;
            border-top: 1px solid #ffffff
        }
    }
   
    & .arrows {
        width: 71vw; /* Distância entre as setas*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px); /* Parâmetros X e Y*/
        display: flex;
        justify-content: space-between;

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & img {
               width: 30px;
               cursor: pointer; 
            }

            &:hover {
                background-color: #beff1b;
            }
        }
    }

    & .indicators {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;
        
        & .number {
            font-size: 5em;
        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 50px;
                height: 5px;
                background-color: #beff1b;
                transition: 0.5s;
            }

            & .active {
                background-color: #ffffff; /* A classe que estiver ativa o tracinho fica branco*/
            }
        }
    }
}


/*https://www.youtube.com/watch?v=AZ1drCVTDgs&t=16s&ab_channel=DevClub%7CPrograma%C3%A7%C3%A3o*/



